@model OLSoftwareTest.Models.DTO.Aspirantes
@{
    ViewData["Title"] = "Nuevo";
}

<h3>@ViewData["Title"] </h3>
<br />

<h4>Aspirantes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre_aspirante" class="control-label"></label>
                <input asp-for="nombre_aspirante" class="form-control" />
                <span asp-validation-for="nombre_aspirante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellido_aspirante" class="control-label"></label>
                <input asp-for="apellido_aspirante" class="form-control" />
                <span asp-validation-for="apellido_aspirante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="documento_aspirante" class="control-label"></label>
                <input asp-for="documento_aspirante" class="form-control" />
                <span asp-validation-for="documento_aspirante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_nacimiento_aspirante" class="control-label"></label>
                <input asp-for="fecha_nacimiento_aspirante" class="form-control" />
                <span asp-validation-for="fecha_nacimiento_aspirante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="celular_aspirante" class="control-label"></label>
                <input asp-for="celular_aspirante" class="form-control" />
                <span asp-validation-for="celular_aspirante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email_aspirante" class="control-label"></label>
                <input asp-for="email_aspirante" class="form-control" />
                <span asp-validation-for="email_aspirante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion_aspirante" class="control-label"></label>
                <input asp-for="direccion_aspirante" class="form-control" />
                <span asp-validation-for="direccion_aspirante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pais_aspirante" class="control-label"></label>
                <input asp-for="pais_aspirante" class="form-control" />
                <span asp-validation-for="pais_aspirante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ciudad_aspirante" class="control-label"></label>
                <input asp-for="ciudad_aspirante" class="form-control" />
                <span asp-validation-for="ciudad_aspirante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Usuario asociado</label>
                <select id="Usuarios" asp-for="id_login" class="form-control" asp-items="ViewBag.Usuarios">
                    <option>Seleccione...</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Prueba asociada</label>
                <select id="Pruebas" asp-for="id_prueba" class="form-control" asp-items="ViewBag.Pruebas">
                    <option>Seleccione...</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="fecha_inicio" class="control-label"></label>
                <input id="fecha_inicio" asp-for="fecha_inicio" class="form-control" />
                <span asp-validation-for="fecha_inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_finalizacion" class="control-label"></label>
                <input id="fecha_finalizacion" asp-for="fecha_finalizacion" class="form-control" />
                <span asp-validation-for="fecha_finalizacion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Aceptar" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-info">Regresar</a>
            </div>
        </form>
    </div>
</div>
<script src="~/js/aspirantes.js"></script>
